
.title__component {
    text-align: center;
    .title__container {
        display: inline-block;
        
        .title {
            margin-bottom: 5px;
            
        }
    
        .underline {
            margin: 0 auto;
            width: 30%;
        }
    }
}

